*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
}
.App{
    width: 100%;
    margin: 0;
}

.home-container{
    background-color: #335c67;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img{
        width: 85%;
        height: 450px;
        border-radius: 12px;
        margin-top: 30px;
    }
}

.productos-container{
    background-color: #335c67;
    width: 100%;
    display: flex;
    justify-content: center;
}