.cart-item{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #E09F3E;
    align-items: center;

    img{
        width: 120px;
        height: 150px;
    }

    button{
        background-color: transparent;
        color: #E09F3E;
        font-size: 1.2rem;
        align-items: center;
        border: none;
        box-shadow: 0 0 0 ;
        cursor: pointer;
    }
    button:hover{
        color: #9E2A2B;
    }
}