.cart-item{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #E09F3E;
    align-items: center;
    justify-content: space-evenly;

    img{
        width: 95px;
        height: 105px;
    }

    button{
        background-color: transparent;
        color: #E09F3E;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        width: 40px;
    }

    button:hover{
        color: #9E2A2B;
    }

    h3{
        font-size: 1rem;
    }
    h5{
        font-size:0.8rem;
    }
}

@media only screen and (min-width: 1024px){

    .cart-item{
        img{
            width: 130px;
            height: 115px;
        }
    
        button{
            font-size: 1.4rem;
        }    
        h3{
            font-size: 1.3rem;
        }
        h5{
            font-size:1.2rem;
        }
    }
    
}