.cart-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #335C67;
    color: #FFF3B0;
    min-height: 100vh;
}
.cart-full{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 200px;

    h2{
        width: 100%;
    }
    .cart-total{
        width: 100%;
    }
    button{
        background-color: #E09F3E;
        color: #335C67;
        padding: 6px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        width: 10%;
    }
}

.cart-item-container{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    border: 2px solid #E09F3E;
    border-radius: 5px;
}

.cart-vacio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    h2{
        width: 100%;
    }

    button{
        width: 100%;
        font-weight: bold;
        background-color: #E09F3E;
        color: #335C67;
        border-radius: 8px;
        height: 35px;
        cursor: pointer;
    }
}