.carrito-btn{
    background-color: transparent;
    border: none;
    color: #e09f3e;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-widget{
    background-color: #335C67;
    color: #E09F3E;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50%;
    height: 35px;
    margin-top: 0px;
    margin-left: 5px;
    position: absolute;
}

@media only screen and (max-width: 599px){
    .cart-widget{
        background-color: #335C67;
        color: #E09F3E;
        padding: 6px;
        border-radius: 50%;
        height: 30px;
        margin-top: -10px;
        margin-left: 9px;
        position: absolute;

        p{
            margin-top: -6px;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }

}