.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#335C67;
    background-color: #FFF3B0;
    align-items: center;

    a{
        color:#9E2A2B;
        text-decoration: none;
    }
    a:hover{
        color: #335C67;
    }

    .links{
        font-size: 1.8rem; 
        display: flex;
        justify-content: space-around;
        width: 80px;
    }
}

