.item-detail-list-container{
    width: 100%;
    height: 100vh;
    background-color: #335c67;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.item-detail-list{
    width: 100%;
    height: 500px;
    color: #fff;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.item-detail{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 1px 4px 18px rgba(0,0,0,0.7);
}
.item-detail-img-container{
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-detail-img-container img{
    width: 70%;
}

.item-detail-description{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #335c67;
    justify-content: space-between;
    align-items: center;
}
.item-detail-title{
    align-items:center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    h3{
        font-size: 2rem;
    }
    h5{
        font-size: 1.6rem;
        color: #9E2A2B;
    }
    p{
        font-size: 1.8rem;
    }
}


.item-detail-count{
    width: 100%;
    align-items: flex-end;
}

.item-detail h3{
    font-size: 2rem;
}

.btn-fin-compra{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    a, div{
    width: 100%;
    }

    button{
    padding: 10px;
    margin: 8px;
    width: 40%;
    background-color: #E09F3E;
    color: #335c67;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    }
}

.btn-fin-compra div button{
    background-color: #335c67;
    font-size: 0.85rem;
    color: #fff;
}

.btn-fin-compra a button{
    width: 50%;
}

.container-counter-btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#counter-btnAdd {
    width: 100%;
}
.btn-agregarItems-detail{
    width: 100%;
    background-color: #e09f3e;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    button{
    width: 100%;
    }
}
.btn-agregarItems-detail:hover{
    background-color: #fff3b0;
}

#btnAgregar:disabled{
    display: none;
}

#btnAgregar:enabled{
    color: #335c67;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}
#noStock:disabled{
    display: none;
}
#noStock:enabled{
    color: #9e2a2b;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
}

.off{
    display: none;
}
@media only screen and (max-width: 600px){
    
    .item-detail{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        height: 530px;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 4px 18px rgba(0,0,0,0.7);
        align-items: center;
        h3{
            font-size: 1.15rem;
        }
    }
    .item-detail-description{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        color: #335c67;
        margin: 0;
    }
    
#btnAgregar{
    width: 100%;
}
.item-detail-title{
    width: 100%;
}

.btn-fin-compra{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    a, div{
    width: 100%;
    }

    button{
    padding: 8px;
    margin: 5px;
    width: 40%;
    background-color: #E09F3E;
    color: #335c67;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
    }
}

.btn-fin-compra div button{
    background-color: #335c67;
    font-size: 0.8rem;
    color: #fff;
}

.btn-fin-compra a button{
    width: 50%;
}


}

@media only screen and (min-width: 600px)and (max-width: 800px){

    .item-detail{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 75%;
        height: 530px;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 4px 18px rgba(0,0,0,0.7);
        h3{
            font-size: 1.3rem;
        }
        h5{
            font-size: 1.2rem;
            color: #9E2A2B;
        }
        p{
            font-size: 1.5rem;
        }
    }
    
.item-detail-img-container{
    width: 100%;
    background-color: #fff;
    img{
        width: 180px;
    }
}

.item-detail-description{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #335c67;
    margin: 0;
}
.item-detail-title{
    width: 100%;
}

.btn-fin-compra{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    a, div{
    width: 100%;
    }

    button{
    padding: 8px;
    margin: 5px;
    width: 40%;
    background-color: #E09F3E;
    color: #335c67;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
    }
}

.btn-fin-compra div button{
    background-color: #335c67;
    font-size: 0.8rem;
    color: #fff;
}

.btn-fin-compra a button{
    width: 50%;
}

}

@media only screen and (min-width: 801px) and (max-width: 1024px){

    .item-detail{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 65%;
        height: 590px;
        margin-top: 35px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 4px 18px rgba(0,0,0,0.7);
        h3{
            font-size: 1.4rem;
        }
        h5{
            font-size: 1.2rem;
            color: #9E2A2B;
        }
        p{
            font-size: 1.5rem;
        }
    }
    
.item-detail-img-container{
    width: 100%;
    background-color: #fff;
    img{
        width: 240px;
    }
}

.item-detail-description{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #335c67;
    margin: 0;
}
.item-detail-title{
    width: 70%;
}

.btn-fin-compra{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    a, div{
    width: 100%;
    }

    button{
    padding: 8px;
    margin: 5px;
    width: 40%;
    background-color: #E09F3E;
    color: #335c67;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
    }
}

.btn-fin-compra div button{
    background-color: #335c67;
    font-size: 0.8rem;
    color: #fff;
}

.btn-fin-compra a button{
    width: 50%;
}

}


@media only screen and (min-width: 1025px) and (max-width: 1400px){

    .item-detail{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 65%;
        height: 590px;
        margin-top: 35px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 4px 18px rgba(0,0,0,0.7);
        h3{
            font-size: 1.4rem;
        }
        h5{
            font-size: 1.2rem;
            color: #9E2A2B;
        }
        p{
            font-size: 1.5rem;
        }
    }
    
.item-detail-img-container{
    width: 100%;
    background-color: #fff;
    img{
        width: 240px;
    }
}

.item-detail-description{
    width: 100%;
    padding: 0;
    display: flex;
    color: #335c67;
}
.item-detail-title{
    width: 50%;
}

.btn-fin-compra{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    a, div{
    width: 100%;
    }

    button{
    padding: 8px;
    margin: 5px;
    width: 40%;
    background-color: #E09F3E;
    color: #335c67;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
    }
}

}