.item{
    width: 190px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.6);
    border-radius: 8px;
    background-color: #fff;
    color: #335c67;
    font-weight: 700;
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.item img{
    width:80%;
    margin-top: 8px;
    margin-bottom: 5px;
}

.item h3{
    width: 100%;
    margin: 0;
}
.item h5{
    width: 100%;
    margin:0;
    color: #9e2a2b;
}

.item:hover{
    .item-title{
        letter-spacing: 1.5px;
    }
}


#btnAgregar:disabled{
    display: none;
}

#btnAgregar:enabled{
    color: #335c67;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}


#noStock:disabled{
    display: none;
}
#noStock:enabled{
    color: #9e2a2b;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
}
.btn-agregarItems{
    width: 100%;
    background-color: #e09f3e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn-agregarItems:hover{
    background-color: #fff3b0;
}
