@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.item-counter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.item-counter div{
    width: 100%;
}
.btn-SumaResta{
    display: flex;
    justify-content: center;
}
.btn-SumaResta p{
    font-size: 1.7rem;
    margin: 0 10px 10px;
    color: #335c67;
    font-weight: 600; 
    font-family: 'Poppins', sans-serif;   
}

.btn-SumaResta button{
    background-color: transparent;
    border: none;    
    margin: 0;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #e09f3e;
    cursor: pointer;
}

.item-counter button:hover{
    color: #9e2a2b;
}
.btn-agregarItems{
    background-color: #e09f3e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.btn-agregarItems button{
    color: #335c67;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
}

.btn-agregarItems:hover{
    background-color: #fff3b0;
}

.off{
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

.hide{
    display: none;
}