.item{
    width: 190px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.6);
    border-radius: 8px;
    background-color: #fff;
    color: #335c67;
    font-weight: 700;
    margin: 15px 10px;
}
.item img{
    width:80%;
}
