.contenedor-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: #335c67;
    justify-content: center;
    color: #fff3b0;
    justify-content: center;
    text-align: center;
}
.contenedor-items h2{
    width: 100%;
}

.item-counter{
    display: flex;
    justify-content: space-around;
    width: 25%;
}