.contenedor-items-categoria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: #335c67;
    justify-content: center;
    color: #fff3b0;
    justify-content: center;
    text-align: center;
    h3{
        width: 100%;
        font-size: 2rem;
    }
}

.category-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

@media only screen and (max-width: 500px){
/*
    .contenedor-items-categoria{
        width: 100%;
        min-height: 150vh;
        margin: 0;
        background-color: #335c67;
        color: #fff3b0;

    }*/
    
    .category-list{
        width: 90%;
        justify-content: center;
        text-align: center;
    }

}

@media only screen and (min-width: 501px) and (max-width: 600px){
    .contenedor-items-categoria{
        min-height: 170vh;
    }
    .category-list{
        background-color: #335c67;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px){

    .contenedor-items-categoria{
        width: 100%;
        min-height: 160vh;
        margin: 0;
        background-color: #335c67;
        color: #fff3b0;

    }
    
    .category-list{
        background-color: #335c67;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

@media only screen and (min-width: 1500px){
    .contenedor-items-categoria{
        padding-bottom: 150px;
    }

}