.nav-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.navbar{
    background-color: #9e2a2b;
    color: #fff3b0;
    display: flex;
    width: 100%;
    padding:0 8px;
    justify-content:space-between;
    text-align: center;
}
.navbar-logo-item{
    display: flex;
}
.navbar-logo-item div{
    margin-left: 15px;
    background-color: #e09f3e;
    padding: 7px;
    border-radius: 8px;
}

.navbar-logo-item input{
    border: none;
    background-color: transparent;
}
.navbar-btn-search{
    cursor: pointer;
}
.navbar div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.navbar ul{
    display: flex;
    margin-right: 35px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    margin: 0 15px;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff3b0;
}

.navbar ul li a:hover{
    color: #e09f3e;
    font-size: 1.18rem;
}

@media only screen and (max-width: 800px){

    .nav-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .navbar{
        background-color: #9e2a2b;
        color: #fff3b0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding:0 4px;
    }
    .navbar-logo-item{
        display: flex;
        width: 50%;
        flex-wrap: nowrap;
        h1{
            font-size: 1.1rem;
            width: 120px;
        }
        div{
            display: none;
        }
    }
    .nav-links{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .navbar ul{
        display: flex;
        margin-right: 10px;
    }
    .navbar ul li a{
        margin: 10px 10px;
        list-style: none;
        cursor: pointer;
        font-size: 1rem;
        text-decoration: none;
        color: #fff3b0;
    }
    
    .navbar ul li a:hover{
        color: #e09f3e;
        font-size: 1.05rem;
    }

}

@media only screen and (min-width: 801px) and (max-width: 1024px){

    .nav-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .navbar{
        background-color: #9e2a2b;
        color: #fff3b0;
        display: flex;
        width: 100%;
        padding:0 4px;
        justify-content:flex-start;
        text-align: center;
        div{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        ul{
            display: flex;
            margin-right: 10px;
        }
        ul li a{
            margin: 0px 5px;
            list-style: none;
            cursor: pointer;
            font-size: 1.2rem;
            text-decoration: none;
            color: #fff3b0;
        }
    }
    .navbar-logo-item {
        width: 50%;
        div{
         margin-left: 15px;
         background-color: #e09f3e;
         padding: 7px;
         border-radius: 8px;
        }
        
    }   
    .nav-links{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        width: 50%;
    }    

    .navbar ul li a:hover{
        color: #e09f3e;
        font-size: 1.22rem;
    }
    .navbar-logo-item input{
        border: none;
        background-color: transparent;
    }
}